## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [ ]:
# write your code
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [ ]:
# write your code here
n=int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i
print(sum)

12
78

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
# write your code here

for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [ ]:
# write your code here
n=int(input("enter the number"))
for i in range(1,n+1):
  if i%3==0:
    print(i)

enter the number12
3
6
9
12

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [ ]:
# write your code here
n=int(input("enter the number"))
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")

enter the number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [ ]:
# write your code here
n=int(input())

fact=1

for i in range(1,n+1):
  fact=fact*i

print(fact)

3
6

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:
# write your code here

n=int(input())

sum=0
for i in range(1, n+1):
  sum=sum+i

print(sum)

87
3828

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [ ]:
# write your code here
n=int(input())
for i in range(1,n+1):
  print(i+5)

12
6
7
8
9
10
11
12
13
14
15
16
17

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [ ]:
# write your code here
n=int(input())
even_count=0
odd_count=0
for i in range(1,n+1):
  if i%2==0:
    even_count +=1
  else:
    odd_count +=1

print(f"even_count: {even_count}")
print(f"odd_count: {odd_count}")

12
even_count: 6
odd_count: 6

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [ ]:
# write your code here
n=int(input("enter the number"))
for i in range(1,n+1):
  print(i*i)

enter the number14
1
4
9
16
25
36
49
64
81
100
121
144
169
196

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [ ]:
n=int(input("enter the number"))
even_sum=0
odd_sum=0
for i in range(1,n+1):
  if i%2==0:
    even_sum +=i
  else:
    odd_sum +=i

print(f"even_sum: {even_sum}")
print(f"odd_sum: {odd_sum}")

enter the number15
even_sum: 56
odd_sum: 64

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [ ]:
# write your code here
n=int(input("enter the number"))
count = 0
for i in range(1,n+1):
  if i%3==0 and i%5==0:
    count +=1
print(count)

enter the number24
1

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [ ]:
# write your code here
n=int(input("enter the number"))
for i in range(1,n+1):
  if i%4==0:
    continue
  print(i)

enter the number18
1
2
3
5
6
7
9
10
11
13
14
15
17
18

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [ ]:
# write your code here
n=int(input("enter the number"))
largest=0
for i in range(1,n+1):
  if i>largest:
    largest=i
print(largest)

enter the number20
20

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [ ]:
# write your code here
a=int(input("enter the number"))
b=int(input("enter the number"))
result=1
for i in range(1,b+1):
  result=result*a
print(result)

enter the number12
enter the number20
3833759992447475122176

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [ ]:
# write your code here
n=int(input("enter the number"))
for i in range(2,n-1):
  if n%i==0:
    print("not prime")
    break
else:
  print("prime number")

enter the number12
not prime

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [ ]:
# write your code here
n=int(input("enter the number"))
for i in range(1,n+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

enter the number12
1
2
3
5
7
11

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [3]:
n=int(input("enter the number"))
for i in range(1,n+1):
  if i % 7 == 0 and i % 11 == 0:
    print(i)
    break

enter the number200
77

Question 19 (hard)
tittle:number pattern
problem statement:
take N AS Input and print a right-angled number pattern using nestes loop
example:1 12 123
Approach:
use an outer loop for rows and an inner loop for a printing number

In [4]:
var=int(input("enter the number"))
for i in range(1,var+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

enter the number7
1
12
123
1234
12345
123456
1234567