# Python Variables Practice (Assignment 1)

**Topics Covered:**
- Variable creation
- int, float, str, bool data types
- Printing variables
- f-strings

## Section 1: Variable Creation & Printing

### Question 1
Create a variable to store your **age** and print it.

In [2]:
age=21
print(age)

21

### Question 2
Create a variable to store the **price of a notebook** (can be a decimal value) and print it.

In [16]:
price_of_a_notebook=11.5
print(price_of_a_notebook)

11.5

### Question 3
Create a variable to store your **first name** and print it.

In [11]:
name="shikha"
print(name)

shikha

### Question 4
Create a variable to store whether you have **completed todayâ€™s class** (True/False) and print it.

In [17]:
completed_today_class="true"
print(completed_today_class)

true

### Question 5
Create two variables:
- one to store the **number of classes attended**
- one to store the **average rating** (float)
Print both.

In [21]:
number_of_class_attended=5
average_rating=4.5

print (number_of_class_attended)
print (average_rating)

5
4.5

## Section 2: Printing using f-strings

### Question 6
Create variables for **name** and **age** and print:
> My name is Rahul and I am 22 years old.

In [22]:
name="shikha"
age=21
print(name)
print(age)

shikha
21


### Question 7
Create variables for **item name** and **price** and print:
> The price of Pen is 10.5 rupees.

In [24]:
name="shikha"
price=10.5
print(name)
print(price)

shikha
10.5

### Question 8
Create variables for **batch name** and **class completed status** and print:
> Batch DA10 class completed status is True.

In [26]:
batch_name=10
Class_completed="true"
print(batch_name)
print(Class_completed)

10
true