# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tuple1 =(1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [3]:
# write your answer here
tuple1 =(1,2,3.4,"shikha",True)
print(tuple1)

(1, 2, 3.4, 'shikha', True)

### Question 3
Find the length of a tuple containing names of 4 students.

In [4]:
# write your answer here
tuple1 =("shikha","divya","sanchita")
print(len(tuple1))

3

### Question 4
Access and print the last element of a tuple.

In [6]:
# write your answer here
tuple1 =(1,2,3,4,5)
print(tuple1[-1])

5

### Question 5
Check whether an element exists in a tuple or not.

In [10]:
# write your answer here
tuple1 =(3,4,5,6)
print(3 in tuple1)

True

### Question 6
Convert a tuple into a list.

In [11]:
# write your answer here
tuple1 =(1,2,3,4,5)
print(list(tuple1))

[1, 2, 3, 4, 5]

### Question 7
Convert a list into a tuple.

In [12]:
# write your answer here
list1 =[1,2,3,4,5]
print(tuple(list1))

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [23]:
# write your answer here
tuple1 =(1,2,3,4,5,1,2,3,4,5)
for i in tuple1:
 print(tuple1.count(3))

2
2
2
2
2
2
2
2
2
2

### Question 9
Find the index of an element in a tuple.

In [21]:
# write your answer here
tuple1 =(1,2,3,4,5)
print(tuple1.index(3))

2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [25]:
# write your answer here
tuple1 =(4,5,6,7,8)
print(tuple1[3])
tuple1[3]="mango"

print(tuple1)

7

TypeError: 'tuple' object does not support item assignment